
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .slide-in-entering {
    transform: translateX(0%)
  }
  .slide-in-entered {
    transform: translateX(0%)
  }
  .slide-in-exiting {
    transform: translateX(100%)
  }
  .slide-in-exited {
    transform: translateX(100%)
  }
} */